@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Archivo";
  src: url("../../public/fonts/Archivo-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: "inter";
  src: url("../../public/fonts/Inter-Regular.otf");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-list {
  height: 450px;
}
.slick-list .slick-track {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 640px) {
  .slick-list .slick-track {
    display: flex;
    gap: 0;
    margin: 9px;
  }
  .slick-list .slick-track .slick-slide {
    display: flex;
    justify-content: center;
  }
}
